:root {
	--text: #2b2b2b;
	--background: #fcfefb;
	--primary: #3991c0;
	--secondary: #92d9c4;
	--accent: #72cacf;
}

body {
	background-color: var(--background);
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa', sans-serif;
}

.icon {
	fill: var(--primary);
}